li {
    background-color: gold;
}

p {
    background-color: aquamarine;
}

#main-header,
li {
    color: mediumblue;
}

.sub-header {
    color: crimson;
}


#main-header:hover {
    color: white;
}